@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif tracking-tight text-bpcc-navy;
  }

  p {
    @apply font-sans text-bpcc-grey leading-relaxed;
  }

  body {
    @apply bg-bpcc-cream antialiased selection:bg-bpcc-gold selection:text-white;
  }

  html {
    scroll-behavior: smooth;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}